{% extends 'layout.twig' %}

{% block content %}
  <h2>{{ app.translator.trans('gallery.add.picture') }}</h2>

  <form action="#" method="post" id="add-picture" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    {% if page.user is null %}
      <input type="submit" class="button" disabled value="{{ app.translator.trans('gallery.button.add.picture') }}">
      <a href="#" class="facebook-connect">{{ app.translator.trans('facebook.connect.button') }}</a>
    {% else %}
      <input type="submit" class="button" value="{{ app.translator.trans('gallery.button.add.picture') }}">
    {% endif %}
  </form>


{% endblock %}

{% block navigation %}
  <ul>
    <li><a href="{{ url('gallery_homepage', {'galleryId' : galleryId }) }}">{{ app.translator.trans('gallery.button.homepage') }}</a></li>
    <li><a href="{{ url('gallery_add', {'galleryId' : galleryId }) }}">{{ app.translator.trans('gallery.button.add.picture') }}</a></li>
    <li><a href="{{ url('gallery_random') }}">{{ app.translator.trans('gallery.button.random.pictures') }}</a></li>
    <li><a href="{{ url('gallery_about') }}">{{ app.translator.trans('gallery.button.about') }}</a></li>
  </ul>
{% endblock %}
