{% extends 'layout.twig' %}

{% block content %}

  {% if page.gallery.uploadform_image is defined %}
  <img src="{{ page.uploadform_image|raw }}">
  {% else %}
  <h2>{{ app.translator.trans('gallery.upload.picture.h2') }}</h2>
  {% endif %}

  <form action="#" method="post" id="add-picture" class="eight columns alpha" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    {% if page.user is null %}
      <button class="submit" class="button">{{ app.translator.trans('gallery.upload.picture.submit') }}</button>
    {% else %}
      <input type="submit" class="button" disabled value="{{ app.translator.trans('gallery.upload.picture.submit') }}">
    {% endif %}
  </form>
  <div class="eight columns omega">
    <div id="preview">
      <h4>{{ app.translator.trans('gallery.upload.preview.h4') }}</h4>
      <h3></h3>
      <img src="" style="display:none;" class="scale-with-grid">
      <p></p>
    </div>
  </div>


{% endblock %}