{% extends 'layout.twig' %}

{% block content %}

  <div class="row">
    {% if page.gallery.uploadform_image is not none %}
    <img src="{{ '/gallery_images/' ~ page.gallery.uploadform_image|raw }}" class="uploadformimage scale-with-grid">
    {% else %}
    <h2>{{ app.translator.trans('gallery.upload.picture.h2') }}</h2>
    {% endif %}
  </div>
  <div class="alerts"></div>
  <div class="row">
    <form action="{{ url('gallery_add', {'galleryId' : page.gallery.id }) }}" method="post" id="add-picture" class="eight columns alpha" {{ form_enctype(form) }}>
      <div class="row">
      {{ form_rest(form) }}
      </div>
      <div class="row">
        {% if page.user is null %}
          <button id="submit-picture" class="submit button pull-right">{{ app.translator.trans('gallery.upload.picture.submit') }}</button>
        {% else %}
          <input id="submit-picture" type="submit" class="button pull-right" disabled value="{{ app.translator.trans('gallery.upload.picture.submit') }}">
        {% endif %}
        <a href="{{ url('gallery_homepage', {'galleryId' : page.gallery.id }) }}" class=" pull-left">{{ app.translator.trans('gallery.upload.cancel') }}</a>
      </div>
    </form>
    <div class="eight columns omega">
      <div id="preview">
        <h4>{{ app.translator.trans('gallery.upload.preview.h4') }}</h4>
        <h3></h3>
        <img src="" style="display:none;" class="scale-with-grid">
        <p></p>
      </div>
    </div>
  </div>

  <div class="row">
    {% if page.gallery.bottom_image is not none %}
    <img src="{{ '/gallery_images/' ~ page.gallery.bottom_image|raw }}" class="bottomimage scale-with-grid">
    {% else %}
    <p>{{ app.translator.trans('gallery.default.disclaimer') }}</p>
    {% endif %}
  </div>

{% endblock %}
{% block navigation %}
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ base_url }}fx/js/vendor/uploadify/jquery.uploadify.js"></script>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ base_url }}fx/js/vendor/uploadify/uploadify.css" />
{% endblock %}