{% extends 'layout.twig' %}

{% block content %}
  
  <div class="row top">
    {% if page.gallery.top_image is not none %}
      {% if page.gallery.is_open %}
      <a href="{{ url('gallery_add', {'galleryId' : page.gallery.id }) }}" title="{{ app.translator.trans('gallery.button.add.picture') }}">
      {% endif %}
        <img src="{{ '/gallery_images/' ~ page.gallery.top_image|raw }}" alt="{{ app.translator.trans('gallery.button.add.picture') }}" class="topimage scale-with-grid">
        {% if page.gallery.top_submit_button is not none and page.gallery.is_open %}
          {{ page.gallery.top_submit_button|raw }}
        {% endif %}
      {% if page.gallery.is_open %}
      </a>
      {% endif %}
    {% elseif page.gallery.top_submit_button is not none and page.gallery.is_open %}
      <a href="{{ url('gallery_add', {'galleryId' : page.gallery.id }) }}" title="{{ app.translator.trans('gallery.button.add.picture') }}">
        {{ page.gallery.top_submit_button|raw }}
      </a>
    {% else %}
      <h2>{{ page.gallery.title }}</h2>
      <p>{{ page.gallery.description }}</p>
      {% if page.gallery.is_open %}
        <a href="{{ url('gallery_add', {'galleryId' : page.gallery.id }) }}" class="button orange">{{ app.translator.trans('gallery.button.participate') }}</a>
      {% endif %}
    {% endif %}
  </div>

  {% if page.images %}
  <div id="gallery">
    <div id="pictures" class="clearfix">
      {% for image in page.images %}
        <div class="picture row">
          <div class="picture-meta">
            <img src="https://graph.facebook.com/{{ image.uid }}/picture" class="profile-picture">
            <span class="profile-name">{{ image.first_name ~ ' ' ~ image.last_name }}</span>
            <span class="date">{{ image.created_date|date("m. F Y h:i") }}</span>
          </div>
          <div class="row">
            <div class="ten columns offset-by-one alpha">
              <a href="{{ url('gallery_picture', {'galleryId' : page.gallery.id, 'pictureId' : image.id}) }}" title="{{ image.title }}" class="user-picture">
                <img src="{{ path('image', {'file' : image.url, 'width' : 550}) }}" alt="{{ image.title }}" class="scale-with-grid">
              </a>
              <a href="{{ url('gallery_picture', {'galleryId' : page.gallery.id, 'pictureId' : image.id}) }}" title="{{ image.title }}">
                {{ app.translator.trans('gallery.comment.button') }} (<fb:comments-count href={{url('gallery_picture', {'galleryId' : page.gallery.id, 'pictureId' : image.id}) }}></fb:comments-count>)
              </a>
              <div class="share">
                <fb:like send="false" layout="button_count" width="450" show_faces="false" href="{{ url('gallery_picture', {'galleryId' : page.gallery.id, 'pictureId' : image.id}) }}" ref="POMPdeLUX"></fb:like>
                <a href="#" class="facebook-share like-button" data-link="{{ url('gallery_picture', {'galleryId' : page.gallery.id, 'pictureId' : image.id}) }}" data-picture="http://{{ app.request.host ~ path('image', {'file' : image.url, 'width' : 180}) }}" data-name="{{ image.title|default(page.gallery.title) }}" data-caption="{{ app.translator.trans('gallery.share.caption') }}" data-description="{{ image.description }}">
                  {{ app.translator.trans('gallery.share.button.short') }}
                </a>
              </div>
            </div>
            <div class="five columns omega">
              <span class="description">{{ image.description }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div id="pagination" class="row">
      {% if page.prev and page.prev.active %}
      <div class="prev">
        <a href="{{ url('gallery_homepage', {'galleryId' : page.gallery.id , 'offset' : page.prev.offset }) }}#top">{{ app.translator.trans('gallery.prev.button') }}</a>
      </div>
      {% endif %}
      {% if page.next and page.next.active %}
      <div class="next">
        <a href="{{ url('gallery_homepage', {'galleryId' : page.gallery.id , 'offset' : page.next.offset }) }}#top">{{ app.translator.trans('gallery.next.button') }}</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% else %}
    <p>{{ app.translator.trans('gallery.no.pictures') }}</p>
  {% endif %}

  <div class="row">
    {% if page.gallery.bottom_image is not none %}
    <img src="{{ '/gallery_images/' ~ page.gallery.bottom_image|raw }}" class="bottomimage scale-with-grid">
    {% else %}
    <p>{{ app.translator.trans('gallery.default.disclaimer') }}</p>
    {% endif %}
  </div>
{% endblock %}


{% block navigation %}
{% endblock %}