{% extends 'layout.twig' %}


{% block navigation %}
  <a href="{{ url('gallery_homepage', {'galleryId' : page.gallery.id }) }}" class="button orange">{{ app.translator.trans('gallery.button.back.to.homepage') }}</a>
  <a href="{{ url('gallery_add', {'galleryId' : page.gallery.id }) }}" class="button orange" title="{{ app.translator.trans('gallery.button.add.picture') }}">{{ app.translator.trans('gallery.button.participate') }}</a>
{% endblock %}

{% block content %}
  <div id="picture" class="picture">
    <h2>
      {{ page.picture.title }}
    </h2>
    <div class="picture-meta">
      <img src="https://graph.facebook.com/{{ page.picture.uid }}/picture" class="profile-picture">
      <span class="profile-name">{{ page.picture.first_name ~ ' ' ~ page.picture.last_name }}</span>
      <span class="date">{{ page.picture.created_date|date("m. F Y h:i") }}</span>
    </div>
    <div class="row center">
      <img src="{{ path('image', {'file' : page.picture.url, 'width' : 610}) }}" alt="{{ page.picture.title }}" class="scale-with-grid">

      <div id="pagination">
        {% if page.prev %}
        <div class="prev">
          <a href="{{ url('gallery_picture', {'galleryId' : page.gallery.id , 'pictureId' : page.prev.id }) }}" title="{{ app.translator.trans('gallery.prev.button') }}">
          </a>
        </div>
        {% endif %}
        {% if page.next %}
        <div class="next">
          <a href="{{ url('gallery_picture', {'galleryId' : page.gallery.id , 'pictureId' : page.next.id }) }}" title="{{ app.translator.trans('gallery.next.button') }}">
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="caption"><span>{{ page.picture.description }}</span></div>
    </div>
    <div class="share row">
      <fb:like send="false" layout="box_count" width="450" show_faces="false" href="{{ app.request.uri }}" ref="POMPdeLUX"></fb:like>
      <a href="#" class="facebook-share like-button" data-link="{{ app.request.uri }}" data-picture="http://{{ app.request.host ~ path('image', {'file' : page.picture.url, 'width' : 180}) }}" data-name="{{ page.picture.title }}" data-caption="{{ app.translator.trans('gallery.share.caption') }}" data-description="{{ page.picture.description }}">
        {{ app.translator.trans('gallery.share.button') }}
      </a>
    </div>
    <div class="row">
      <fb:comments href="{{ app.request.uri }}" num_posts="2" width="768"></fb:comments>
    </div>

  </div>
{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ page.picture.title }} - {{ app.translator.trans('default.browser.title') }}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://{{ app.request.host ~ path('thumb', {'file' : page.picture.url, 'dimension' : 200}) }}"/>
<meta property="og:description" content="{{ page.picture.description }}"/>
{% endblock %}
