{% extends 'admin.twig' %}


{% block navigation %}
	<a href="{{ url('admin_galleries') }}" class="button orange">{{ app.translator.trans('admin.gallery.button.galleries') }}</a>
	<a href="{{ url('admin_gallery_add') }}" class="button orange">{{ app.translator.trans('admin.gallery.button.add.gallery') }}</a>
	<form action="{{ url('admin_gallery_pull_winners', {'id' : page.galleryid }) }}" method="get" class="pull-winners">
		<input type="submit" class="button orange inline" value="Udtræk vindere">
		<input type="text" name="count" value="3" class="inline num-winners">
	</form>
{% endblock %}
{% block content %}
{% if page.pictures|length > 0 %}
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>Titel</th>
			<th>Beskrivelse</th>
			<th>Aktiv</th>
			<th>Bruger UID</th>
			<th>Bruger Email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for picture in page.pictures %}
		<tr>
			<td>{{ picture.id }}</td>
			<td>{{ picture.title }}</td>
			<td>{{ picture.description }}</td>
			<td>{{ picture.active }}</td>
			<td>{{ picture.uid }}</td>
			<td>{{ picture.email }}</td>
			<td>
				<a href="{{ url('admin_gallery_picture_toggle_active', {'id' : picture.id }) }}" class="toggle-active picture">Skjul/Vis</a>
			</td>
			<td>
				{% if picture.url is defined %}
				<a href="{{ path('image', {'file' : picture.url, 'width' : 150}) }}">
					<img src="{{ path('image', {'file' : picture.url, 'width' : 150}) }}" alt="">
				</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>Der er ingen billeder i denne konkurrence endnu.</p>
{% endif %}
{% endblock %}