{% extends 'admin.twig' %}


{% block content %}
{% if page.pictures|length > 0 %}
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Titel</th>
			<th>Beskrivelse</th>
			<th>Aktiv</th>
			<th>Bruger UID</th>
			<th>Bruger Email</th>
		</tr>
	</thead>
	<tbody>
		{% for picture in page.pictures %}
		<tr>
			<td>{{ picture.id }}</td>
			<td>{{ picture.title }}</td>
			<td>{{ picture.description }}</td>
			<td>{{ picture.active }}</td>
			<td>{{ picture.uid }}</td>
			<td>{{ picture.email }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>Der er ingen billeder i denne konkurrence endnu.</p>
{% endif %}
{% endblock %}