<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ app.locale }}" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ app.locale }}" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ app.locale }}" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.locale }}" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<head>
<title>{{ page.browser_title|default(app.translator.trans('default.browser.title')) }}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="robots" content="all">

{% block meta %}
<meta property="og:title" content="{{ page.browser_title|default('') }} {{ app.translator.trans('default.browser.title') }}"/>
<meta property="og:image" content="http://{{ app.request.host }}/fx/img/POMPdeLUX_logo_SS12.png"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="{{ page.gallery.description|default(app.translator.trans('default.browser.description')) }}"/>
{% endblock %}
<meta property="og:url" content="{{ app.request.uri }}">
<meta property="og:site_name" content="{{ app.translator.trans('default.browser.title') }}"/>
{% if page.facebook.app_id is defined %}
<meta property="fb:app_id" content="{{ page.facebook.app_id }}"/>
{% endif %}
<link rel="dns-prefetch" href="//cdn.jquerytools.org">
<link rel="dns-prefetch" href="//html5shim.googlecode.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">

<link href="//fonts.googleapis.com/css?family=Merriweather:400,700,900" rel="stylesheet" type="text/css">

{% block stylesheets %}
{% endblock %}

<link rel="stylesheet" href="{{ base_url }}fx/css/normalize.css">
<link rel="stylesheet" href="{{ base_url }}fx/css/main.css">
<link rel="stylesheet" href="{{ base_url }}fx/css/skeleton-810.css">

{% if page.gallery.button_color is defined and page.gallery.button_color_hover is defined %}
<style>
  a.button,
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    background: {{ page.gallery.button_color }};
  }
  a.button:hover,
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    background: {{ page.gallery.button_color_hover }};
  }
</style>
{% endif %}
{% if page.gallery.css is defined %}
<style>
  {{ page.gallery.css|raw }}
</style>
{% endif %}

<script type="text/javascript" src="{{ base_url }}fx/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
{% if page.gallery.id is defined %}
<body class="gallery-{{ page.gallery.id }}">
{% else %}
<body>
{% endif %}
<div class="container">
  <nav class="sixteen columns alpha omega">
    {% block navigation %}
      <ul>
        <li><a href="{{ url('gallery_homepage', {'galleryId' : page.gallery.id }) }}">{{ app.translator.trans('gallery.button.homepage') }}</a></li>
        {% if page.gallery.is_open %}
        <li><a href="{{ url('gallery_add', {'galleryId' : page.gallery.id }) }}">{{ app.translator.trans('gallery.button.add.picture') }}</a></li>
        {% endif %}
        <li><a href="{{ url('gallery_about') }}">{{ app.translator.trans('gallery.button.about') }}</a></li>
      </ul>
    {% endblock %}
  </nav>
  {% block errors %}
    <div class="alerts sixteen columns alpha omega">
      {% if flash is defined %}
      <div class="alert alert-{{ flash.type }}">
        <div class="container">
          <p><strong>{{ flash.short }}</strong> {{ flash.ext }}</p>
        </div>
      </div>
      {% endif %}
    </div>
  {% endblock %}
  <div id="main" class="sixteen columns alpha omega">
    {% block content %}{% endblock %}
  </div>
</div>

{% if page.facebook.app_id is defined %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '{{ page.facebook.app_id }}', // App ID from the App Dashboard
      channelUrl : '{{ base_url }}channel.html', // Channel File for x-domain communication
      status     : true, // check the login status upon init?
      cookie     : true, // set sessions cookies to allow your server to access the session?
      xfbml      : true  // parse XFBML tags on this page?
    });

    // Additional initialization code such as adding Event Listeners goes here
    FB.Canvas.setAutoGrow();
  };

  // Load the SDK's source Asynchronously
  // Note that the debug version is being actively developed and might 
  // contain some type checks that are overly strict. 
  // Please report such bugs using the bugs tool.
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/da_DK/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>
{% endif %}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{ base_url }}fx/js/vendor/jquery-1.7.2.js"><\/script>')</script>

{% block javascript %}
{% endblock %}

<script>
var base_url = '{{ base_url }}';
var cdn_url = '{{ cdn_url }}';
</script>
<script src="{{ base_url }}fx/js/plugins.js"></script>
<script src="{{ base_url }}fx/js/main.js"></script>

{% if app.translator.trans('google.analytics.ua') %}
<script>
var _gaq=[['_setAccount','{{ app.translator.trans('google.analytics.ua') }}'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{% endif %}

</body>
</html>
